* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* min-height: 100vh; */
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}
body header {
    height: 100px;
}
body main {
    flex: 1;
}
body footer {
    height: 60px;
}
div#d3target {
    border: 2px chocolate solid;
}
svg {
    border: 1px lightgray solid;
}