.command-bar {
    display: flex;
    flex-direction: column;
    /* flex: 1; */
    padding: 0% 25%;
    text-align: center;
    background-color: rgb(111, 146, 144);
}

.command-bar__feedback {
    background-color: greenyellow;
    opacity: 0.0;
    position: absolute;
    transition-duration: 500ms;
    /* display: none; */
}

.command-bar__feedback_visible {
    /* display: unset; */
    opacity: 1.0;
}

.command-bar__elements {
    /* width: 50%; */
    display: flex;
    background-color: inherit;
}

.command-bar__controls {
    background-color: inherit;
    display: flex;
    flex: 1;
}

.command-bar input[type=text] {
    background-color: #dcf9f9;
    border-radius: 4px;
    font-size: x-large;
    margin: 5px;
    /* padding-left: 100px; */
    flex: 1;
    /* width: 50%; */
}

.command-bar input[type=button] {
    background-color: #dcf9f9;
    border-radius: 4px;
    font-size: x-large;
    margin: 5px;
}