.command-bar {
    margin: 5 5;
    text-align: center;
    background-color: rgb(111, 146, 144);
}

.command-bar input[type=text] {
    background-color: #dcf9f9;
    border-radius: 4px;
    font-size: x-large;
    margin: 5px;
    width: 50%;
}

.command-bar input[type=button] {
    background-color: #dcf9f9;
    border-radius: 4px;
    font-size: x-large;
    margin: 5px;
}